.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
  margin: 0 7.5px 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  &.large {
    height: 480px;
  }
  &:hover {
    .background-image {
      transform: scale(1.1);
    }
  }
  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
      letter-spacing: 5px;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      margin-bottom: 6px;
    }
  }
}
